# standard gitignore
.idea/
.idea/*
.DS_STORE
*.log
TODO
node_modules/

# typscript
.baseDir.ts
.tscache/
*.js
*.js.map
!Gruntfile.js

# created by grunt-ts
tscommand-*.tmp.txt

# Do not ignore /dist files.
# I hate to do this, but this is the
# easiest way to make the library bower-compatible
!/dist/*.js