# standard gitignore
.idea/
.idea/*
.DS_STORE
*.log
TODO
node_modules/

# typscript
.baseDir.ts
.tscache/
*.js
*.js.map
typings/generated/

#mocha
test/mocha.css
test/index.html

# created by grunt-ts
tscommand-*.tmp.txt
